<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestPostfix</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/mysite.css" />
</head>
<body>
    <header>
        <nav>
            <div>
                <ul class="nav">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index">TestPostfix</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="DomainList">Domain List</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="AliasList">Alias List</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="MailboxList">Mailbox List</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="DomainAdd">Add domain</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="AliasAdd">Add alias</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="MailboxAdd">Add mailbox</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>
    <footer class="foot">
        <div>
            2022 - Rillen Li
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>