body {
}
ul.nav{
    margin-left: 0px;
    padding-left:0px;
    list-style:none;
}
.nav li{
    display:inline;
}
ul.nav a{
    display:inline-block;
    padding:10px;
    background-color:cadetblue;
    color:black;
    border:1px solid;
    text-align:center;
}
ul.nav a:hover{
    background-color:antiquewhite;
    color:blue;
}
div.data{
    margin:10px;
    padding:10px;
}
footer.foot{
    bottom:0;
}

table{
    border:none;
}
#list tr,th,td
{
    border:1px solid;
    margin: 3px;
    text-align:center;
}
#input tr,th,td{
    border:none;
    margin:2px;
    text-align:left;
}